$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee

$brand-primary:         #008974;
$brand-success:         #004f89;
$brand-info:            #008974;
$brand-warning:         #f0ad4e;
$brand-danger:          #DA7265;

$navbar-default-bg:     $brand-info;
$navbar-default-link-color:  #EEE;
$navbar-default-link-hover-color: #FFF;
$navbar-default-link-active-color: #FFF;

$font-family-sans-serif:  'Liberation Sans', Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-size-base:  16px;

@font-face {
    font-family: Futurist;
    src: url('forgottr.ttf');
}

$headings-font-family:  Purisa;

$icon-font-path: '/static/bootstrap/fonts/bootstrap/';
$fa-font-path: '../font-awesome/fonts/font-awesome/';

@import '../bootstrap/stylesheets/bootstrap';
@import '../font-awesome/stylesheets/font-awesome';

.rich-text img {
    max-width: 100%;
    height: auto;
}

.responsive-object {
    position: relative;
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.collection-button
{
    border-radius: 15px;
    border-width: 3px;
    padding: 20px;
    background: $gray-lighter;
    display: block;
    color: #FFF;
    font-size: 32px;
    font-weight: bold;
    font-family: Purisa;
    text-align: center;
    .caption {
        text-align: left;
        font-size: 16px;
        margin-top: 8px;
    }
    .fa {
        text-align: center;
        display: block;
        font-size: 100px;
    }
    &:hover {
        color: #FFF;
        background: darken($brand-info, 10%);
        text-decoration: none;
    }
    &:active {
        color: #FFF !important;
        text-decoration: none !important;
    }
    img {
        background: #FFF;
        padding: 3px;
        border-radius: 5px;
    }
}
.collection-sidebar
{
    .collection-button {
        font-size: 24px;
    }
}

$btn-primary: adjust-hue(lighten(desaturate($brand-primary, 10%), 10%), 72);

.collection-button-bg1
{
    background: adjust-hue( $btn-primary, 36 );
    &:hover{
        background: lighten(adjust-hue( $btn-primary, 36 ), 10%);
    }
}
.collection-button-bg2
{
    background: adjust-hue( $btn-primary, 72 );
    &:hover{
        background: lighten(adjust-hue( $btn-primary, 72 ), 10%);
    }
}.collection-button-bg3
{
    background: adjust-hue( $btn-primary, 108 );
    &:hover{
        background: lighten(adjust-hue( $btn-primary, 108 ), 10%);
    }
}.collection-button-bg4
{
    background: adjust-hue( $btn-primary, 144 );
    &:hover{
        background: lighten(adjust-hue( $btn-primary, 144 ), 10%);
    }
}.collection-button-bg5
{
    background: adjust-hue( $btn-primary, 180 );
    &:hover{
        background: lighten(adjust-hue( $btn-primary, 180 ), 10%);
    }
}.collection-button-bg6
{
    background: adjust-hue( $btn-primary, 206 );
    &:hover{
        background: lighten(adjust-hue( $btn-primary, 206 ), 10%);
    }
}.collection-button-bg7
{
    background: adjust-hue( $btn-primary, 242 );
    &:hover{
        background: lighten(adjust-hue( $btn-primary, 242 ), 10%);
    }
}.collection-button-bg8
{
    background: adjust-hue( $btn-primary, 278 );
    &:hover{
        background: lighten(adjust-hue( $btn-primary, 278 ), 10%);
    }
}.collection-button-bg9
{
    background: adjust-hue( $btn-primary, 304 );
    &:hover{
        background: lighten(adjust-hue( $btn-primary, 304 ), 10%);
    }
}
.collection-button-bg10
{
    background: adjust-hue( $btn-primary, 360 );
    &:hover{
        background: lighten(adjust-hue( $btn-primary, 360 ), 10%);
    }
}

.big-icon {
    margin: 15px 0;
}

td h1,
td h2,
td h3,
td h4
{
    margin-top: 5px;
}